@page "/player-create"
@inject HttpClient Http
@inject NavigationManager navManager
@using ProyectoCRUDBlazor.Shared.Models

<h3 class="text-center">Lista de Jugadores</h3>

<hr />

<FormPlayer player="@player" TextButton="Crear Jugador" OnValidSubmit="@CreatePlayer" />

@code {
    private PlayerDTO player = new PlayerDTO();

    protected async Task CreatePlayer()
    {
        // POST del objeto player al controlador api/players.
        await Http.PostAsJsonAsync("api/players", player);
        navManager.NavigateTo("player-index");
    }
}
